<!DOCTYPE html>
<html lang="en">

<head>
    <html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <!-- Header Block -->
    <div class="header">
        <a src="index.html">
            <div class="head-button">
                <img src="https://via.placeholder.com/40">
                Website Header
            </div>
        </a>
    </div>

    <div class="row">

        <!-- Dropdown Menu w/ Links -->
        <div class="col-2 col-s-2 menu">
            <ul>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 1</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 2</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 3</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 4</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 5</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 6</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 7</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Option 8</button>
                        <div class="dropdown-content">
                            <a href="secondpage.html">Link 1</a>
                            <a href="secondpage.html">Link 2</a>
                            <a href="secondpage.html">Link 3</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Section 2 -->
        <div class="col-6 col-s-9">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="https://placeholder.com"><img src=https://via.placeholder.com/900x470></a>
        </div>

        <!-- Section 3 -->
        <div class="col-4 col-s-12">
            <div class="aside">
                <h2>Lorem</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h2>Lorem</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h2>Lorem</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="https://placeholder.com"><img src=https://via.placeholder.com/520x170></a>
            </div>
        </div>
    </div>

    <!-- Footer Block -->
    <div class="footer">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

</body>

</html>